*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table{
    border: 1px solid red;
    width: 100%;
}
tr td{
    border: 1px solid Blue;
    /* margin: 20px; */
    width: 20%;
    height: 100px;
    text-align: center;
}